	body{
         background-color: lightblue;
       }
       h1{
         outline-style: double;
       }
	   img{
		 padding: 12px;
		 border:5px double red;
		 margin:12px;
	   }
	   p{
		   color: MidnightBlue;
	   }
	   #otherBlue{
		   color: CornflowerBlue;
	   }